<section class="mt-2xl">
    <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center p-5">
        Sobre mí
    </h2>
    <div class="flex justify-center items-center mb-10">
        <img
            class="w-[310px] h-[310px] rounded-full shadow-lg shadow-white/10 ring-2 ring-white/10"
            src="../MeUser.jpeg"
            alt="Imagen del perfil Jhon Almanzar"
        />
    </div>
    <p class="p-5">
        Soy Jhon Jairo Almanzar Quintero, estudiante de octavo semestre de Ingeniería en Sistemas en la Universidad Industrial de Santander. <span class="text-yellow-200">Mi enfoque principal es el desarrollo backend con Spring Boot, complementado con conocimientos en frontend usando Angular y React,</span> lo que me permite desempeñarme como<span class="text-red-200/90"> desarrollador full stack.</span> También tengo experiencia con <span class="text-red-200/90">bases de datos SQL,</span> así como conocimientos en <span class="text-red-200/90">NoSQL y en arquitectura y diseño de software,</span> empleando diagramas UML y otros métodos de modelado.
        <br><br>
        Entre las herramientas que utilizo están <span class="text-red-200/90">Git y GitHub,</span> que facilitan la colaboración y la implementación de metodologías ágiles en proyectos de software. Además, tengo una formación sólida en áreas complementarias como redes de computadores, inteligencia artificial (incluyendo machine learning y deep learning), estadística y matemáticas.
        <br><br>
        Estoy comprometido con el aprendizaje continuo y con aplicar mis conocimientos en proyectos que impulsen la innovación tecnológica. Busco constantemente mejorar mis habilidades y adaptarme a nuevos retos para ofrecer soluciones eficientes y de alta calidad. 
    </p>
    
</section>
