<header class="flex justify-center items-center py-5 px-4 w-full max-w-screen-xl mx-auto fixed top-0 backdrop-blur-md z-50">
    <nav class="flex flex-row gap-x-5 sm:gap-x-10 opacity-80">
        <a href="#top" class="hover:underline">Inicio</a>
        <a href="#proyectos" class="hover:underline">Proyectos</a>
        <a href="#cursos" class="hover:underline">Cursos</a>
        <a href="#sobre-mi" class="hover:underline">Sobre mí</a>
        <a href="#tecnologias" class="hover:underline">Tecnologías</a>
    </nav>
</header>
